@charset "UTF-8";
/* CSS Document */


main {
	display: block;
	text-align: center;
}
	
.text {
	display: inline-block;
}
	
.text-container {
	text-align: left;
	max-width: 500px;
	line-height: 24px;
	padding: 0 8vw;
}

a {
	color: black;
}
	