@charset "UTF-8";
/* CSS Document */


main {
	display: block;
	text-align: center;
}

img {
	max-width: 500px;
	margin-bottom: 48px;
}
	
.text {
	display: inline-block;
	padding-bottom: 180px;
}
	
.text-container {
	max-width: 500px;
	line-height: 24px;
	font-size: 16px;
	text-align: left;
}

p {
	margin-bottom: 24px;
}

a {
	color: black;
}
	