@charset "UTF-8";
/* CSS Document */


main {
	display: block;
	text-align: center;
	padding: 0 8vw 0 8vw;
}

img {
	max-width: 500px;
	margin-bottom: 48px;
}
	
.text {
	display: inline-block;
	padding-bottom: 180px;
}
	
.text-container {
	text-align: left;
	max-width: 500px;
	line-height: 24px;
}

a {
	color: black;
}

.secondary-text {
	color: #C7C5C5;
}
	
h2 {
	margin-top: 48px;
}