@charset "UTF-8";
/* CSS Document */

*{
	margin: 0;
	padding: 0;
}

html {
	font-family: Courier New, monospace;
	letter-spacing: 0.05em;
	min-width: 320px;
	margin-left: 2vw;
	margin-right: 2vw;
}

header {
	height: 90px;
	margin-top: 30px;
}

.name {
	font-size: 20px;
	text-decoration: none;
	color: black;
}

nav {
	float: right;
	margin: 2px 0 0 0;
}

nav a {
	font-size: 16px;
	text-decoration: none;
	margin: 0 0 0 2vw;
}

a:visited {
	color: inherit;
}

footer {
	position: relative;
	height: 100px;
}

#copyright {
	font-size: 12px;
	position: absolute;
	text-align: center;
	top: 70%;
	left: 50%;
	transform: translate(-50%, -70%);
}

@media (max-width: 1000px) {
	
	html {
		margin-left: 3vw;
		margin-right: 3vw;
	}
	
}

@media (max-width: 500px) {
	
	html {
		margin-left: 4vw;
		margin-right: 4vw;
	}
	
	header { 
		display: block;
		text-align: center;
	}

	nav {
		float: none;
		margin: 10px 0 0 0;
	}
	
	nav a {
		margin: 0 1vw;
	}	
	
}