@charset "UTF-8";
/* CSS Document */

html {
	font-family: Courier New, monospace;
	letter-spacing: 0.05em;
}

h1 {
	font-size: 24px;
	padding: 0;
	margin: 0 0 36px 0;
}

h2 {
	font-size: 16px;
	padding: 0;
	margin: 0;
}

p {
	font-size: 16px;
	padding: 0;
	margin-bottom: 12px;
}

.text-section {
	margin-bottom: 36px;
}

.caption {
	font-size: 12px;
	text-align: center;
	margin-bottom: 36px;
}

header {
	height: 90px;
	margin: 30px 0 0 0;
}

#name {
	text-decoration: none;
	color: black;
	font-size: 20px;
	margin: 0 0 0 3vw;
}

nav {
	float: right;
	margin: 2px 3vw 0 0;
}

nav a {
	font-size: 16px;
  	color: #C7C5C5;
	text-decoration: none;
	margin: 0 0 0 2vw;
}

nav a:hover {
	color: black;
}

.dropdown {
	position: relative;
	display: inline-block;
}

.dropdown-children {
	display: none;
	position: absolute;
	background-color: white;
	min-width: 180px;
	box-shadow: 0px 6px 12px 0px rgba(0,0,0,0.2);
	padding: 9px 0px;
	z-index: 1;
}

.dropdown-children a {
	text-decoration: none;
	display: block;
	padding: 9px 18px;
	margin: 0;
}

.dropdown:hover .dropdown-children {
	display: block;
}

.active{
	color: black;
}

footer {
	position: relative;
	height: 100px;
}

#copyright {
	font-size: 12px;
	position: absolute;
	text-align: center;
	top: 70%;
	left: 50%;
	transform: translate(-50%, -70%);
}