@charset "UTF-8";
/* CSS Document */

main {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	gap: 1.5vw;
	padding:  0 3vw;
}

main a {
	color: white;
	padding: 0;
	margin: 0;
}

.project {
	display: block;
	position: relative;
	text-align: center;
}

img {
	display: block;
	width: 100%;
}

.project-overlay {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	height: 100%;
	width: 100%;
	opacity: 0;
	transition: .5s ease;
	background-color: #000000;
}

.project-label {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	opacity: 0;
	transition: .5s ease;
}

.project-title {
	font-size: 18px;
	padding: 0;
	margin: 0;
}

.project-description {
	font-size: 16px;
	padding: 0;
}

.project:hover .project-overlay{
	opacity: 0.75;
}

.project:hover .project-label{
	opacity: 1;
}

@media (max-width: 768px) {
	
	main {
		grid-template-columns: 50% 50%;
	}
	
}

@media (max-width: 500px) {
	
	main {
		grid-template-columns: 100%;
		gap: 3vw;
	}
	
}

@media (max-width: 480px) {
	
	main {
		gap: 0;
	}
	
	main a {
		color: black;
		text-decoration: none;
	}
	
	.project-overlay {
		display: none;
	}
	
	.project-label {
		position: static;
		top: 0;
		left: 0;
		transform: translate(0,0);
		opacity: 1;
		transition: none;
	}

	.project-title {
		font-size: 16px;
		margin: 18px 0 0 0;
	}
	
	.project-description {
		font-size: 15px;
		color: #C7C5C5;
		margin: 6px 0 24px 0;
		
	}
	
}