@charset "UTF-8";
/* CSS Document */

#work {
	color: black;
}

#about {
	color: #C7C5C5;	
}

#about:hover {
	color: black;
}

main {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-gap: 3vw;
}

img {
	position: relative;
	display: block;
	width: 100%;
}

@media (max-width: 1000px) {
	
}

@media (max-width: 500px) {

	main {
		grid-template-columns: 1fr;
		gap: 3vw;
	}
	
}