@charset "UTF-8";
/* CSS Document */

main {
	padding: 0 8vw;
	display: grid;
	grid-template-columns: 2fr 1fr;
}

img {
	width: 100%;
	cursor: zoom-in;
}

.image-no-caption{
	margin: 0 0 1vw 0;
}

.image-grid{
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-gap: 16px;
}

.text {
	padding-left: 4vw;
	letter-spacing: 0;
	line-height: 24px;
}

#previous-next {
	text-align: center;
	color: #C7C5C5;
	margin-top: 48px;
}

#previous-next a {
	color: #C7C5C5;
	text-decoration: none;
}

#previous-next a:hover {
	color: black;
}

@media (max-width: 1024px) {

	main {
		padding: 0 3vw;
    	display: block;
		text-align: center;
  	}

	.image-grid{
		grid-template-columns: 1fr;
	}

	.text {
		display: inline-block;
		padding: 0;
		margin: 48px 0 0 0;
	}
	
	.text-media {
		text-align: left;
		max-width: 500px;
	}
	
}