@charset "UTF-8";
/* CSS Document */

main {
	padding: 0 8vw;
	display: grid;
	grid-template-columns: 2fr 1fr;
}

img {
	width: 100%;
	cursor: zoom-in;
}

iframe {
	width: 55vw;
	height: 37vw;
}

.images-grid{
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-gap: 1.5vw;
}

.text {
	padding: 0 0 0 4vw;
	letter-spacing: 0;
	line-height: 24px;
}

@media (max-width: 1024px) {

	main {
    	display: block;
		text-align: center;
  	}
	
	.images-grid{
	grid-template-columns: 1fr;
	}
	
	iframe {
		width: 79vw;
		height: 53vw;
	}

	.text {
		display: inline-block;
		padding: 0;
		margin-top: 48px;
	}
	
	.text-media {
		text-align: left;
		max-width: 500px;
	}
	
}